{
 "Statement": [
   {
     "Action": ["*" ],
     "Effect": "Limit",
     "Resource": "*",
     "Condition": { "numlteq":{"s3:quota-bucketsize": "25"}}
   }
 ]
}
